body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* Bootstrap overrides */

body {
    font-family: "Roboto","Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}
.buttonsContainer {
    align-self: flex-end;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.button__going {
    border-radius: 10px;
}
.button__follow {
    text-decoration: underline;
}
.form-control {
    border-radius: 10px;
    height: 37px;
    font-size: 1.2em;
}

    .form-control:focus {
        border-color: #3559ce;
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.form-group {
    margin-bottom: 20px;
}
.going {

}
.navbar-inverse {
    background-color: #ff4342;
    border-color: #ff4342;
}

    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
        color: #fff;
        background-color: rgba(194, 57, 56, 0.60);
    }

    .navbar-inverse .navbar-nav > li > a {
        color: white;
    }

    .navbar-inverse .navbar-brand {
        color: white;
    }

.navbar-brand {
    padding: 0;
    margin: 0;
}

    .navbar-brand > img {
        height: inherit;
    }

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
}

.field-validation-error {
    color: red;
    font-weight: bold;
}

.gigContainer {
    display: flex;
    flex-direction: row;
    padding: 20px 0 0 0;
}

.month {
    background: red;
    border-radius: 10px 10px 0 0;
    width: 60px;
    color: white;
    text-align: center;

    border-bottom: none;
    font-size: 0.9em;
}

.day {
    width: 60px;
    text-align: center;
    height: 35px;

    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.2em;
    background-color: lightgray;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: space-around;
    padding: 5px 0 5px 0;
}
.infoContainer__Artist {
    font-weight: bold;
}
.infoContainer__Genre {
    font-size: 0.9em;
}