@model IEnumerable<GigHub.Models.Gig>
@{
    ViewBag.Title = "Home Page";
}

<h1>All upcoming Gigs!</h1>
@foreach (var gig in Model)
{
    <div class="gigContainer">
        <div class="calendar">
            <div class="month">@gig.DateTime.ToString("MMM")</div>
            <div class="day">@gig.DateTime.ToString("d ")</div>
        </div>
        <div class="infoContainer">
            <span class="infoContainer__Artist">@gig.Artist.Name</span>
            <span class="infoContainer__Genre">@gig.Genre.Name</span>
        </div>
    </div>
    <hr style="border: 1px solid gray"/>
}



